<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="DXThemeManager" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <DXThemeManager>
    <setting name="ApplicationThemeName" serializeAs="String">
      <value>Office2019Colorful</value>
    </setting>
  </DXThemeManager>
  <connectionStrings>
    <add name="SklepEntities" connectionString="metadata=res://*/BazaDanych.Model1.csdl|res://*/BazaDanych.Model1.ssdl|res://*/BazaDanych.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=LAPTOP-AM3IM24V\SQLEXPRESS01;initial catalog=Sklep;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>